.cardData {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.volInfo {
    color: #ffbb96 !important;
}

.yellInfo {
    color: #fadb14 !important;
}

.greenInfo {
    color: #52c41a !important;
}

.redInfo {
    color: #f5222d !important;
}