.cardMeta {
    color: white;
    height: 200px;
    max-height: 200px;
}

.cardTitle {
    margin: 10px;
    text-align: start;
    padding-left: 4px;
}

.cardDescription {
    font-size: 24px;
    color: #1c6387;
}
.dividerCard {
    height: 100%;
    width: 5px;
}

.cardUrlData {
    color: #1c6387;
}